#my-pills {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#my-pills .nav-item {
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#my-pills .nav-item:hover {
  border: none;
  outline: none;
  background-color: #f3f3f3;
}

#my-pills .nav-link {
  color: #ffffff;
}

#my-pills .nav-link:hover {
  color: rgb(0, 0, 0);
}

#my-pills .nav-link.active {  
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}